<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OwlMentor_Backend</title>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" type="text/css" href="/static/chatbot/chatbot.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar__container">
            <div class="logo__container">
                <img src="/static/OlympicHeightsHS_logoHP.png" alt="Logo">
                <div class="logo__text">
                    <h1>Olympic Heights Community High School</h1>
                    <p>Educate. Affirm. Inspire.</p>
                </div>
            </div>
            <ul class="navbar__menu">
                <li class="navbar__item">
                    <button id="uploadbttn" class="navbar__button">Upload</button>
                </li>
                <li class="navbar__item">
                    <button id="usagebttn" class="navbar__button">Usage</button>
                </li>
                <li class="navbar__item">
                    <button id="trybttn" class="navbar__button">Try</button>
                </li>
                <li class="navbar__item">
                    <button class="navbar__button">Help</button>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="chatbot__area">
            <div class="chatbot__container">
                <div class="chatbot__heading">
                    <div class="chatbot__discription">
                        <h2>Lion</h2>
                        <p>Olympic Heights Community High School</p>
                    </div>
                </div>
                <div class="chatbox__messages">
                    <div></div>
                </div>
                <div class="chatbot__footer">
                    <div class="chatbot__footer__container">
                        <div class="chatbot__input">
                            <input type="text" placeholder="Type something...">
                        </div>
                        <div class="chatbot__send__btn">
                            <button>
                                <img src="/static/chatbot/icons8-arrow-50 (2).png" alt="arrow" width="25">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/chatbot/chatbot.js"></script>
    <script src="/static/app.js"></script>
</body>
</html>
