<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OwlMentor_Backend</title>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar__container">
            <div class="logo__container">
                <img src="/static/OlympicHeightsHS_logoHP.png" alt="Logo">
                <div class="logo__text">
                    <h1>Olympic Heights Community High School</h1>
                    <p>Educate. Affirm. Inspire.</p>
                </div>
            </div>
            <ul class="navbar__menu">
                <li class="navbar__item">
                    <button class="navbar__button"><a href="index.html">Upload</a></button>
                </li>
                <li class="navbar__item">
                    <button class="navbar__button"><a href="usage.html">Usage</a></button>
                </li>
                <li class="navbar__item">
                    <button class="navbar__button">Help</button>
                </li>
            </ul>
        </div>
    </nav>
    <div class="usage">
        <div class="usage__container">
            <div class="graph" id="1"></div>
            <div class="graph" id="2"></div>
            <div class="graph" id="3"></div>
            <div class="graph" id="4"></div>
        </div>
    </div>
    <!-- <script src="/static/app.js"></script> -->
</body>
</html>
