<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OwlMentor_Backend</title>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar__container">
            <div class="logo__container">
                <img src="/static/OlympicHeightsHS_logoHP.png" alt="Logo">
                <div class="logo__text">
                    <h1>Olympic Heights Community High School</h1>
                    <p>Educate. Affirm. Inspire.</p>
                </div>
            </div>
            <ul class="navbar__menu">
                <li class="navbar__item">
                    <button id="uploadbttn" class="navbar__button">Upload</button>
                </li>
                <li class="navbar__item">
                    <button id="usagebttn" class="navbar__button">Usage</button>
                </li>
                <li class="navbar__item">
                    <button class="navbar__button">Help</button>
                </li>
            </ul>
        </div>
    </nav>
    <div class="usage">
        <div class="usage__container">
            <div class="graph" id="1"><iframe src="http://localhost:3000/d-solo/cdsqqhfh6v75sf/owlmentor-total-messages?orgId=1&from=1721822120233&to=1721843720233&theme=light&panelId=1" width="400" height="300" frameborder="0"></iframe></div>
            <div class="graph" id="2"></div>
            <div class="graph" id="3"></div>
            <div class="graph" id="4"></div>
        </div>
        <iframe src="http://localhost:3000/d-solo/edsnvtwcz5s00c/owlmentor?orgId=1&from=1721819062781&to=1721840662781&theme=light&panelId=1" width="100%" height="100%" frameborder="0"></iframe>
    </div>
</body>
</html>
